* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.initial_message {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-left: 5;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    background-color: rgb(59, 48, 48);
}

.card {
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    padding-top: 2px;
    margin-top: 30px;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card a:visited {
    color: white;
}

.card a:hover {
    color: rgb(199, 199, 39);
}