{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}</p>
<h3><a href="{% url 'logout' %}">Log out</a></h2>
{% else %}
<p>You are not logged in</p>
<h3><a href="{% url 'login' %}">Log in</a></h2>
<h3><a href="{% url 'todo_signup' %}">Sign up</a></h3>
{% endif %}
{% for todo in object_list %}
<div>
    <h2><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></h2>
    <a href="{% url 'todo_edit' todo.pk %}">Edit</a> |
    <a href="{% url 'todo_delete' todo.pk %}">delete</a>
</div>
{% endfor %}
<h3><a href="{% url 'todo_new' %}">+ new todo</a></h2>
{% endblock content %}